@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+JP&family=Noto+Serif+SC&family=Noto+Serif+TC&family=Roboto+Slab:wght@100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
  font-family: "PaperMod SC";
  src: local("Songti SC Regular"), local(STSongti-SC-Regular);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PaperMod SC";
  src: local("Songti SC Bold"), local(STSongti-SC-Bold);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PaperMod TC";
  src: local("Songti TC Regular"), local(STSongti-TC-Regular);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PaperMod TC";
  src: local("Songti TC Bold"), local(STSongti-TC-Bold);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PaperMod Emoji";
  src: local("Apple Color Emoji"),
      local("Segoe UI Emoji"),
      local("Segoe UI Symbol"),
      local("Noto Color Emoji"),
      local("Android Emoji");
}
