:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 750px;
    --header-height: 60px;
    --footer-height: 108px;
    --radius: 4px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --hilite: rgb(21 21 21);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(56, 56, 56);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(221, 221, 221);
    --border-2: rgb(186, 186, 186);
    --footer-text: #a3a3a3;
    --nav-text: #444;
    --red: rgb(236 72 153);
    --pink: rgb(249 168 212);
    --purple: rgb(167 139 250);
    --card-shadow: #00000053;
}

.dark {
    --theme: rgb(12 14 22);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(214, 211, 209);
    --hilite: rgb(245 245 245);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
    --border-2: rgb(163, 163, 163);
    --footer-text: #78716c;
    --nav-text: #a4a4a4;
    --card-shadow: #d6d6d633;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
