{{- define "main" }}

{{- if .Title }}
<header class="page-header">
    <h1>{{ .Title }}</h1>
</header>
{{- end }}

<article class="post-single about-page">
  <header class="post-header">
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
    </div>
  </header>
  {{- $isHidden := (.Param "cover.hiddenInSingle") | default (.Param "cover.hidden") | default false }}
  {{- partial "cover.html" (dict "cxt" . "IsSingle" true "isHidden" $isHidden) }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>


{{- end }}{{/* end main */}}
