<footer class="site-footer">

  <div class="wrapper">
    <div class="social-links">
      <a class="social-link social-github" href="https://github.com/{{ site.github_username }}" target="_blank">
        <i class="icon-github"></i>
      </a>
      <a class="social-link social-twitter" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
        <i class="icon-twitter"></i>
      </a>
      <a class="social-link social-instagram" href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
        <i class="icon-instagram"></i>
      </a>
      <a class="social-link social-telegram" href="https://t.me/{{ site.telegram_username }}" target="_blank">
        <i class="icon-telegram"></i>
      </a>
      <a class="social-link social-rss" href="{{ "/feed.xml" | relative_url  }}" target="_blank">
        <i class="icon-rss"></i>
      </a>
    </div>
    <div class="credits">
      Fake it till you become it. 🍗
    </div>
  </div>

</footer>
