.post {
  @apply leading-7
}

.post p {
  @apply my-8;
}

.post h2::before, .post h3::before, .post h4::before, .post h5::before, .post h6::before {
  content: "#";
  display: inline-block;
  text-align: right;
  width: 90px;
  margin-left: -99px;
  margin-right: 9px;
  opacity: 0.8;
  @apply text-pink-500;
}

.post h1 {
  @apply mt-6 mb-3 text-4xl text-neutral-100;
}

.post h2 {
  @apply mt-6 mb-3 text-3xl text-neutral-100;
}

.post h3 {
  @apply mt-4 mb-2 text-2xl text-neutral-100;
}

.post h3::before {
  content: "##"
}

.post h4 {
  @apply mt-4 mb-2 text-xl text-neutral-100;
}

.post h4::before {
  content: "###"
}

.post h5 {
  @apply mt-4 mb-2 text-lg text-neutral-100;
}

.post h5::before {
  content: "####"
}

.post h6 {
  @apply mt-4 mb-2 text-base text-neutral-100;
}

.post h6::before {
  content: "#####"
}

.post table {
  @apply my-4;
  border-color: #dee2e6;
}

.post tbody, .post td, .post th, .post thead, .post tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.post table>:not(caption)>*>* {
  border-bottom-width: 1px;
}

.post code {
  @apply rounded-sm bg-neutral-800 px-1 py-[2px] text-sm text-green-50
}

.post a {
  @apply no-underline border-b-[1px] border-dotted border-current text-pink-300 hover:text-pink-500 transition-all duration-150;
}

.post ul {
  @apply list-[circle] ml-6;
}

.post blockquote {
  @apply my-4 text-neutral-400 flex flex-row gap-4 before:block before:h-auto before:w-1 before:max-w-[1px] before:bg-pink-500 before:content-[''];
}

.post blockquote p {
  @apply my-2;
}

.post pre {
  @apply p-4 my-4;
}

.post pre > code {
  @apply bg-transparent p-0;
}
