.footer,
.top-link {
    font-size: 12px;
    color: var(--secondary);
}

.footer {
    max-width: var(--main-width);
    margin: auto;
    padding: 18px 0;
    text-align: center;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Slab', 'Open Sans', serif;
}

.footer-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-inner span {
    color: var(--footer-text);
}

.footer-copyright {
    margin-top: 16px;
    text-align: right;
    width: 100%;
    padding-right: 8px;
}

.footer-copyright a {
    color: inherit;
    border-bottom: 1px dotted var(--secondary);
    transition: color .2s cubic-bezier(.4,0,.2,1);
}

.footer-copyright a:hover {
    border-bottom-color: var(--primary);
}

.top-link {
    visibility: hidden;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 99;
    background: var(--tertiary);
    width: 42px;
    height: 42px;
    padding: 12px;
    border-radius: 64px;
    transition: visibility 0.5s, opacity 0.8s linear;
}

.top-link,
.top-link svg {
    filter: drop-shadow(0px 0px 0px var(--theme));
}

.footer a:hover,
.top-link:hover {
    color: var(--primary);
}

.top-link:focus,
#theme-toggle:focus {
    outline: 0;
}
