.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
    font-family: 'Roboto Slab', 'Open Sans', serif;
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 18px;
    font-weight: 700;
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

.logo a, .logo button {
    color: var(--nav-text);
    transition: all 0.3s ease-in-out;
}

.logo a:hover {
    color: var(--red);
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li {
    display: inline-flex;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    color: var(--pink);
    text-decoration: underline dotted 1px;
    text-underline-offset: 2px;
    font-size: 16px;
    transition: all 0.3s cubic-bezier(.4,0,.2,1);
}

#menu a:hover {
    color: var(--red);
}

#menu .active {
    text-decoration: none;
}
#menu .active span {
    font-weight: 500;
    background: var(--red);
    color: var(--entry);
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
