.page-header,
.post-header {
    margin: 24px auto var(--content-gap) auto;
}

.page-header,
.post-header,
.post-title {
    font-family: 'Roboto Slab', 'Open Sans', 'Noto Serif SC', 'PaperMod SC', 'Noto Serif JP', 'Noto Serif TC', 'PaperMod TC', serif;
}

.post-title {
    margin-bottom: 10px;
    font-size: 40px;
}

.post-description {
    margin-top: 10px;
    margin-bottom: 5px;
}

.post-meta,
.breadcrumbs {
    color: var(--secondary);
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Fira Sans', 'Open Sans', serif;
}

.post-meta .i18n_list li {
    display: inline-flex;
    list-style: none;
    margin: auto 3px;
    box-shadow: 0 1px 0 var(--secondary);
}

.breadcrumbs a {
    font-size: 16px;
}

.post-content {
    color: var(--content);
    line-height: 1.75rem;
    font-family: 'Fira Sans', 'Open Sans', 'Noto Serif SC', 'PaperMod SC', 'Noto Serif JP', 'Noto Serif TC', 'PaperMod TC', serif;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    position: relative;
    font-family: 'Roboto Slab', 'Open Sans', 'Noto Serif SC', 'PaperMod SC', 'Noto Serif JP', 'Noto Serif TC', 'PaperMod TC', serif;
}

.post-content .anchor {
    position: absolute;
    left: 0;
}

.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 32px 0 16px;
}

.post-content h1 {
    margin: 40px auto 32px;
    font-size: 40px;
}

.post-content h2 {
    margin: 32px auto 24px;
    font-size: 32px;
}

.post-content h3 {
    font-size: 24px;
}

.post-content h4 {
    font-size: 16px;
}

.post-content h5 {
    font-size: 14px;
}

.post-content h6 {
    font-size: 12px;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin-left: -20px;
    padding-left: 20px;
}


.post-content a:not(.anchor) {
    border-bottom: solid 2px var(--pink);
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    background-image: linear-gradient(to top, var(--pink), var(--pink));
    background-size: 100% 0;
    background-position: 0 101%;
    background-repeat: no-repeat;
}


.post-content a:not(.anchor):hover {
    color: var(--entry);
    background-size: 100% 100%;
}

.toc a:hover {
    box-shadow: 0 1px 0;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.post-content a code {
    margin: auto 0;
    border-radius: 0;
}

.post-content a:hover code {
    color: initial;
}

.post-content del {
    text-decoration: line-through;
}

.post-content dl,
.post-content ol,
.post-content p,
.post-content figure,
.post-content ul {
    margin-bottom: var(--content-gap);
}

.post-content ol,
.post-content ul {
    padding-inline-start: 20px;
}

.post-content li {
    margin-top: 5px;
}

.post-content li p {
    margin-bottom: 0;
}

.post-content dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.post-content dt {
    width: 25%;
    font-weight: 700;
}

.post-content dd {
    width: 75%;
    margin-inline-start: 0;
    padding-inline-start: 10px;
}

.post-content dd ~ dd,
.post-content dt ~ dt {
    margin-top: 10px;
}

.post-content table {
    margin-bottom: var(--content-gap);
}

.post-content table th,
.post-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
    min-width: 80px;
    padding: 8px 5px;
    line-height: 1.5;
    border-bottom: 1px solid var(--border);
}

.post-content table th {
    text-align: start;
}

.post-content table:not(.highlighttable) td code:only-child {
    margin: auto 0;
}

.post-content .highlight table {
    border-radius: var(--radius);
}

.post-content .highlight:not(table) {
    margin: 10px auto;
    background: var(--code-block-bg) !important;
    border-radius: var(--radius);
    direction: ltr;
}

.post-content li > .highlight {
    margin-inline-end: 0;
}

.post-content ul pre {
    margin-inline-start: calc(var(--gap) * -2);
}

.post-content .highlight pre {
    margin: 0;
    border-radius: var(--radius);
}

.post-content .highlighttable {
    table-layout: fixed;
}

.post-content .highlighttable td:first-child {
    width: 40px;
}

.post-content .highlighttable td .linenodiv {
    padding-inline-end: 0 !important;
}

.post-content .highlighttable td .highlight,
.post-content .highlighttable td .linenodiv pre {
    margin-bottom: 0;
}

.post-content code {
    margin: auto 4px;
    padding: 2.5px 4px;
    font-size: 0.87em;
    line-height: 1.5;
    background: var(--code-bg);
    border-radius: 2px;
    font-family: 'Victor Mono', Courier, Monaco, monospace;
}

.post-content pre code {
    display: grid;
    margin: auto 0;
    padding: 10px;
    color: rgb(213, 213, 214);
    background: var(--code-block-bg) !important;
    border-radius: var(--radius);
    overflow-x: auto;
    word-break: break-all;
    white-space: pre-wrap;
}

.post-content blockquote {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: var(--secondary);
}

.post-content blockquote:before {
    display: block;
    height: auto;
    width: 0.25rem;
    max-width: 1px;
    background-color: var(--red);
    content: "";
}

.post-content blockquote p {
    margin-top: calc(var(--content-gap) / 2);
    margin-bottom: calc(var(--content-gap) / 2);
}

.post-content hr {
    margin: 30px 0;
    height: 2px;
    background: var(--tertiary);
    border: 0;
}

.post-content iframe {
    max-width: 100%;
    border: none;
    margin-bottom: var(--content-gap);
}

.post-content img {
    border-radius: 4px;
    margin: 1rem 0;
}

.post-content img[src*="#center"] {
    margin: 1rem auto;
}

.post-content figure.align-center {
    text-align: center;
}

.post-content figure > figcaption {
    color: var(--primary);
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0 16px;
}

.post-content figure > figcaption > p {
    color: var(--secondary);
    font-size: 14px;
    font-weight: normal;
}

.toc {
    margin: 0 2px 40px 2px;
    border: 1px solid var(--border);
    background: var(--code-bg);
    border-radius: var(--radius);
    padding: 0.4em;
}

.dark .toc {
    background: var(--entry);
}

.toc details summary {
    cursor: zoom-in;
    margin-inline-start: 20px;
}

.toc details[open] summary {
    cursor: zoom-out;
}

.toc .details {
    display: inline;
    font-weight: 500;
}

.toc .inner {
    margin: 0 20px;
    padding: 10px 20px;
}

.toc li ul {
    margin-inline-start: var(--gap);
}

.toc summary:focus {
    outline: 0;
}

.post-footer {
    margin-top: 56px;
}

.post-footer>* {
    margin-bottom: 10px;
}

.post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.post-tags li {
    display: inline-block;
}

.post-tags a,
.share-buttons {
    border-radius: var(--radius);
}

.post-tags a {
    display: block;
    padding: 0 14px;
    color: var(--secondary);
    font-size: 14px;
    line-height: 34px;
    background: var(--code-bg);
}

.post-tags a:hover {
    background: var(--border);
}

.share-buttons {
    padding: 10px;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    gap: 10px;
}

.share-buttons li,
.share-buttons a {
    display: inline-flex;
}

.share-buttons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    display: inline-flex;
    color: var(--purple);
    user-select: none;
}

.paginav {
    display: flex;
    line-height: 30px;
}

.paginav a {
    color: var(--secondary);
    transition: all 0.3s;
    padding-inline-start: 4px;
    padding-inline-end: 4px;
    border-radius: var(--radius);
}

.paginav a:hover {
    color: var(--hilite);
}

.paginav .anchor-prev,
.paginav .anchor-next {
    transition: all 0.3s;
}

.paginav a:hover .anchor-prev {
    transform: translate(-4px, 0);
}

.paginav a:hover .anchor-next {
    transform: translate(4px, 0);
}

.paginav .title {
    letter-spacing: 1px;
    display: inline-flex;
    gap: 4px;
    font-size: small;
    line-height: normal;
}

.paginav .next {
    margin-inline-start: auto;
    text-align: right;
}

[dir="rtl"] .paginav .next {
    text-align: left;
}

h1>a>svg {
    display: inline;
}

img.in-text {
    display: inline;
    margin: auto;
}

.post-comments {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 3rem;
    font-family: 'Fira Sans', 'Open Sans', serif;
}

.post-comments .tabs {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-color: rgb(36, 41, 51);
    color: rgb(166, 173, 186);
}

.post-comments .post-comment-tip {
    position: absolute;
    top: -20px;
    font-size: small;
    color: #a6adba96;
}

.post-comments .hidden-radio {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.post-comments .tab {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-size: .875rem;
    cursor: pointer;
    line-height: 2;
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1 1 0%;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
}

.post-comments .hidden-radio:checked+.tab {
    border-radius: 0.5rem;
    background-color: rgb(100, 26, 230);
    color: #fff;
}
.post-comments .tab:checked {
    border-radius: 0.5rem;
    background-color: rgb(100, 26, 230);
    color: #fff;
}

.post-comments-content {
    display: none;
}
