---
import { getEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import Disqus from "@/components/Disqus.astro";
import { DISQUS_SHORTNAME } from '@/data/config';

const aboutEntry = await getEntry('meta', 'about');
const { Content: AboutContent } = await aboutEntry.render();

const linksEntry = await getEntry('meta', 'links');
const { Content: LinksContent } = await linksEntry.render();

const logEntry = await getEntry('meta', 'changelog');
const { Content: LogContent } = await logEntry.render();

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

---

<Layout title="About">
  <main class="flex flex-col gap-20">
    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">About me</h3>
      </header>
      <div class="w-auto leading-6 about-page">
        <AboutContent />
      </div>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Blogroll</h3>
      </header>
      <div class="w-auto leading-6 about-page">
        <LinksContent />
      </div>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Changelog</h3>
      </header>
      <div class="w-auto leading-6 about-page">
        <LogContent />
      </div>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Get in touch</h3>
      </header>

      <SocialLinks />
    </article>

    { DISQUS_SHORTNAME &&
      <Disqus shortname={DISQUS_SHORTNAME}
              identifier="about"
              url={canonicalURL}
              title="About - Bambooom" /> }
  </main>
</Layout>
